* {
  -webkit-font-smoothing: antialiased; /* font rendering */
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* set 1rem = 10px, respective of user custom styles */
}

body {
  background: url(images/portfolio-yellow-photo-full.jpg)
    calc(6rem + 2rem + 50vw) bottom / 35vw no-repeat fixed;
  background-color: rgba(247, 172, 11, 0.884);
  font-size: 1.6rem; /* set body font size to 16px */
  overscroll-behavior: none;
}

.wrapper {
  max-width: 120rem;
  margin: auto;
  padding: 8rem 6rem 0;
}

h1 {
  font-size: 3.75em;
  font-family: "Pacifico", Verdana;
  color: rgb(248, 245, 245);
  margin-bottom: 0.5em;
  white-space: nowrap;
}

p {
  font-family: "Poiret One", Verdana;
  font-size: 1em;
  color: rgb(241, 246, 248);
  font-weight: bold;
  margin-bottom: 2em;
  width: calc(60vw - 2 * 6rem);
  max-width: 60rem;
}

@media (min-width: 800px) {
  p {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  body {
    background-size: 420px;
  }

  p {
    font-size: 1.5em;
  }
}
